@import "variables";
@import 'mixins/mixins';

.offline-watch-video {
  height: 88%;
  //width: 790px;
  max-width: calculateRem(720px);
}

.offline-video {
  height: 100%;
  width: 100%;
}

.offline-video-heading {
  color: $primary-color;
  font-size: calculateRem(18px);
  font-weight: bold;
}

.offline-video-title {
  color: $primary-color;
  font-size: calculateRem(14px);
  cursor: pointer;
}
