@import "variables";
@import "mixins/mixins";

.offline-page-content {
  min-height: calc(100vh - 50vh);
}

.offline-page-heading {
  font-size: calculateRem(24px);
  font-weight: 700;
  color: var(--gray-800);
}

.offline-page-subheading {
  font-size: calculateRem(18px);
  color: var(--gray-400);
}

.sb-card {
  .sb-card-hover {
    position: absolute;
    top: 0;
    max-width: calculateRem(292px);
    width: 100%;
    height: 100%;
    background-color: rgba(2, 79, 157, 0.85);
    display: none;

    .sb-card-hover-content {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: center;
    }
  }
}
