@import "variables";
@import "mixins/mixins";
@import "components/buttons";
:host ::ng-deep {
  .panel-interact,
  .panel-heading {
    background: var(--white);
  }

.faq-ul-list { 
  margin: calculateRem(8px) calculateRem(32px);
  padding:0px;
  list-style-type:initial;
}

.faq-ul-list li {
  margin:0px 0px calculateRem(4px) 0px;
  padding:0px;
}
}
