<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="fonts.css">
    <link rel="stylesheet" href="import.css">
    <script type="text/javascript" src="vue.js"></script>
    <script type="text/javascript" src="index.js"></script>
    
</head>

<body onload="init()">
    <div id="progressDiv">
        <div class="sb-offline-download-manager" v-for="item in items">
            <div class="download-name">{{ item.filename }}</div>
            <div class="download-number-content">
                <span class="number-downloaded">{{item.totalDownloadedFileSize}}/{{item.fileSize}}</span>
                <span class="download-status progress">&#9888;&nbsp;In progress</span>
            </div>
            <div class="download-progressbar-container">
                <div class="download-progress">
                    <div class="download-progress-bar" v-bind:style="{ width: item.percent + '%' }"></div>
                </div>
                <span class="download-percent">{{ item.percent }}%</span>
            </div>
        </div>
    </div>

    <div id="failedDiv">
        <div class="sb-offline-download-manager" v-for="item in items">
            <div class="download-name">{{ item.filename }}</div>
            <div class="download-number-content">
                <span class="number-downloaded">{{ item.fileSize }}</span>
                <span class="download-status failed">&#9888; Download Failed</span>
            </div>
        </div>
    </div>

    <div id="completedDiv">
        <div class="sb-offline-download-manager" v-for="item in items">
            <div class="download-name">{{ item.filename }}</div>
            <div class="download-number-content">
                <span class="number-downloaded">{{ item.fileSize }}</span>
                <span class="download-status success">&#x2713; Completed</span>
            </div>
        </div>
    </div>
</body>

</html>