<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="fonts.css">
  <link rel="stylesheet" href="import.css">
  <script type="text/javascript" src="vue.js"></script>
  <script type="text/javascript" src="index.js"></script>

</head>

<body onload="init()">
  <div class="sb-header">Import Content
    <button class="close-btn" id="close-btn" style="display: none;" onclick="onClose()"></button>
  </div>
  <div class="sb-offline-download-manager">
    <div id="progressDiv" class="download-progress-container">
      <div v-for="item in items">
        <div class="download-name-content">
          <div class="download-name">{{ item.filename }}</div>
          <span id="files-downloaded" class="files-downloaded"></span>
        </div>
        <div class="download-number-content">
          <span class="number-downloaded" v-if="item.percent === 100">{{item.fileSize}}</span>
          <span class="number-downloaded" v-else>{{item.totalDownloadedFileSize}}/{{item.fileSize}}</span>
          <span class="sb-label sb-label-table sb-label-warning-0" v-if="item.percent === 100"><i class="loader-01"></i> Processing...</span>
          <span class="sb-label sb-label-table sb-label-success-0" v-else>In progress...</span>
        </div>
        <div class="download-progressbar-container">
          <div class="download-progress">
            <div class="download-progress-bar" v-bind:style="{ width: item.percent + '%' }"></div>
          </div>
          <span class="download-percent">{{ item.percent }}%</span>
        </div>
      </div>
    </div>

    <div id="failedDiv" v-if="totalFailedCount">
      <div class="download-failed-button-container">
        <button class="sb-btn sb-btn-xs sb-btn-error" onclick="toggle()">{{totalFailedCount}} Failed <span
            class="arrow-down-icon" id="failedIcon"></span></button>
      </div>
      <div id="failedListDiv" style="display: none">
        <hr>
        <div class="download-failed-container">
          <div class="download-failed-files" v-for="item in items">
            <span class="failed-file-name">{{ item.filename }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>